*
.circle {
    border-radius: 50%;
    border: 1px solid #000;
}
#wrapper .rectangle:hover {
    background-color:salmon;
}
.type1 {
    width: 100px;
    height: 100px;
    background: yellow;
    position: absolute;
    left: 0px;
}
.type2 {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #ccc;
    left:100px;
 }
.type3 {
    width: 100px;
    height: 100px;
    background: burlywood;
    position: absolute;
    left: 200px;
   }
   .type4 {
    width: 100px;
    height: 100px;
    background:green;
    position: absolute;
    left: 300px;
   }
.rectangle {

    width: 400px;
    height: 100px;
    background: orange;
}
.type1:hover ~ .rectangle{
 background-color: teal;
}
.type2:hover ~ .rectangle{
    background-color:skyblue;
   }
.type3:hover ~ .rectangle{
       background-color: plum;
   }
.type4:hover ~ .rectangle{
    background-color: crimson;
   }