article {
    margin-left: 300px;  
}

ul {
    max-width: 500px;
    margin: 0;
    /* padding: 1em; */
}
p {
    text-align: justify;
    margin-left: 300px;
}
.left_column {
    width: 15%;
  }
.right_column {
    float: right;
    padding-top: 0;
    width: 15%;
}
  
.middle_column {
    width: 70%; 
    padding-top: 0;
  }



